@using GoodNewsAggregator.Core.Services.Interfaces.Constants
@model AccountModel

@{
    ViewData["Title"] = "Account";
}

<h1>Личный аккаунт</h1>
<hr />

<div>
    <label asp-for="RoleName">Роль:</label><br />
    <input asp-for="RoleName" readonly="readonly" /><br />
    <br />
    <label asp-for="Email">Эл. почта</label> <br />
    <input asp-for="Email" readonly="readonly" /><br />
    <br />
    <label asp-for="UserName">Имя пользователя</label><br />
    <input asp-for="UserName" readonly="readonly" /><br />
    <br />
    @if (User.Identity.IsAuthenticated && User.IsInRole(RoleNames.ADMIN))
    {
        <button type="button" onclick="location.href = '@Url.Action("Index","Administration")'">Перейти к администрированию</button><br /><br />
        <br/>
    }

    <form method="post" asp-controller="Account" asp-action="LogOut">
        <input class="btn btn-danger mb-2" type="submit" value="Выход" />
    </form>
</div>
