.article-card {
    background: #F2F2F2;
    height: 100%;
}

a.read-next {
    color: black;
    text-align: left;
}

a.read-next:hover {
    color: crimson;
    text-decoration: none;
}

a.read-next:visited {
    color: purple;
}

a.read-next:active {
    color: red;
}

.red {
    color: red
}

.orange {
    color: orange
}

.green {
    color: #00F200
}