.article-card {
    border: 1px solid gray;
    border-radius: 5px;
    height: 100%;
}

a.title-link {
    font-family: sans-serif;
}

a.source-link {
    font-family: initial;
}

a.read-next {
    font-weight: bold;
    color: black;
    text-align: left;
}

a.read-next:hover {
    color: crimson;
    text-decoration: none;
}

a.read-next:visited {
    color: purple;
}

a:visited:hover {
    color: crimson;
    text-decoration: none;
}

a.read-next:active {
    color: red;
}

.bad-good-factor {
    color: red
}

.normal-good-factor {
    color: orange
}

.good-good-factor {
    color: #00F200
}

.comment-card {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.write-comment-btn {
    margin-top: 10px;
}

.black {
    color: black;
}

.azure-background {
    background: azure;
}

.medium-size {
    font-size: medium;
}

.large-size {
    font-size: large;
}

.red {
    color: red;
}