@model GoodNewsAggregator.Core.DTO.RssDto

@{
    ViewData["Title"] = "DeleteRole";
}

<h1>Удаление Rss источника</h1>

<h3>Вы уверены, что хотите удалить этот объект?</h3>
<div>
    <h4>Rss источник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
           Url
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="btn btn-light mb-2" asp-action="Index">Назад к таблице</a>
    </form>
</div>
