@{
    Layout = null;
}

<div class="row">
    <input type="hidden" id="articleId" name="articleId" value="@Model.ArticleId" />
    <div class="col-sm-12">
        <label for="commentText">Ваш комментарий:</label>
        <textarea name="commentText" class="form-control" id="commentText" rows="3"></textarea>
    </div>

    <div class="col-sm-12">
        <button class="btn btn-primary write-comment-btn" id="create-comment-btn">Отправить</button>
    </div>
</div>