@using Microsoft.AspNetCore.Mvc.Rendering
@model GoodNewsAggregator.Models.CommentsListModel

@{
    Layout = null;
}

<div class="container comments-block">
    <h3>Comments</h3>
    <div id="comments-container" class="row">
        @foreach (var comment in Model.Comments)
        {
            <div class="card comment-card col-sm-12">
                <div class="card-body">
                    <p class="card-text">@comment.Text</p>
                    <h6>@comment.Date.ToString("g")</h6>
                </div>
            </div>
        }
    </div>
    <hr />
    
    @{ 
        //await Html.PartialAsync("CreateCommentPartial")
       }
</div>