@using GoodNewsAggregator.Core.DTO;
@model IEnumerable<ArticleDto>
@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h1 class="display-4">This is main page</h1>

    <div class="row">
        @foreach (var article in Model)
        {
            <div class="border col-sm-12 col-md-6 col-lg-4">
               <h1>@article.Title</h1>
               <h4>Дата: @article.Date</h4>
               <h4>Хорошесть: @(article.GoodFactor * 100)%</h4>
               <a asp-action="Article" asp-route-id="@article.Id">Читать -></a>
            </div>
        }
    </div>
</div>