@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в агрегатор хороших новостей!</h1>
    <p>Здесь могла быть ваша реклама. Но проект, к сожалению, некоммерческий.</p>
    <a class="mt-5 align-content-around text-info" asp-controller="Navigation" asp-action="Main">Начать читать</a>
</div>
