@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>Политика конфиденциальности интернет-ресурса Good News</h1>

<p>Для авторизации доступа к Сайту используется персональный логин и пароль Пользователя. Указанная информация является конфиденциальной. Ответственность за ее сохранность несет Пользователь. Пользователь не вправе передавать персональный логин и пароль третьим лицам.</p>
