@using GoodNewsAggregator.DAL.Core;
@model Article
@{
    ViewData["Title"] = "Article about";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>

    <p>@Model.Content</p>
</div>
