@using GoodNewsAgregator.Data;
@model IEnumerable<Article>
@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h1 class="display-4">This is main page</h1>

    @foreach (var article in Model)
    {
        <dir class="border">
            <h1>@article.Title</h1>
            <h4>Дата: @article.Date</h4>
            <h4>Хорошесть: @(article.GoodFactor * 100)%</h4>
            <a asp-action="Article" asp-route-id="@article.Id">Читать -></a>
        </dir>
    }

</div>